# don't check in the test-spec.sh file because
# every checkout of this project has to create a specific one.
ios-test-harness/test-spec.sh
# don't check in .cargo directory because not every developer
# uses it; the typical use is to enable cross-compiling.
/.cargo/
# don't check in the binary and testing artifacts
target
fuzz
libtest.rmeta
# profiling
*.profdata
*.profraw
